html {
	height: 100%
}

body {
	height: 100%; margin: 0; padding: 0
}

h2 {
    text-align: center;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    cursor: pointer;
    cursor: hand;
    padding-left: 0;
    margin: 0;
}

li p {
    text-align: left;
    padding: 5px;
    margin: 0;
}

p.name {
    font-size: 14px;
    font-weight: bold;
}

li:hover {
    background-color: #0099FF;
}

hr {
    margin: 0;
    padding: 0;
}

.content {
  	display: flex;
  	flex-wrap: wrap;
}

.headerMenu {
  	display: none;
}

#map {
	height: 100%;
	width: 100%;
	left: 0;
  	position: absolute;
  	top: 0;
}

#legend {
	display: inline;
	max-width: 800px;
	min-width: 200px;
  max-height: 150px;
	position: absolute;
	bottom: 10px;
	left: 10px;
  right: 50px;
	outline-style: double;
}

.legendText {
	font-weight: bold;
	font-family: Roboto,Arial,sans-serif;
	font-size: 14px;
}

#searchMap {
  display: inline;
  position: absolute;
  width: 95%;
  height: auto;
  max-width: 200px;
  min-width: 100px;
  max-height: 83%;
  margin: 1% 0 0 1%;
  /*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);*/
  box-shadow: 4px 2px 6px rgba(0, 0, 0, 0.3);
  font-family: Roboto,Arial,sans-serif;
  font-size: 11px;
  /*height: 100%;*/
  overflow: auto;
  top: 50px;
  bottom: 20px;
}

#more {
  width: 100%;
  margin: 2px 0 2px 0;
}

#list {
    background: rgba(255, 255, 255, 0.8);
  	margin: 0;
  	border: 1px solid rgba(0, 0, 0, 0.1);
  	padding: 0px;
}

@media screen and (max-width: 400px) {
  #searchMap {
    width: 5%;
  }
  #legend {
		left: 5px;
	}
  .nav {
    top: 40px;
    z-index: 10;
    position: absolute;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
  }
  .nav.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .headerMenu {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 1em;
  }
  .headerMenu svg {
    width: 32px;
    fill: #E0E0E0;
  }
}

@media screen and (min-width: 401px) {
  #searchMap {
    width: 30%;
  }
}

@media screen and (min-width: 700px) {
	#searchMap {
		width: 35%;
	}
}

#search {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 0px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    height: 35px;
    width: 100%;
}

#search:focus {
    border-color: #4d90fe;
    margin-left: -1px;
    padding-left: 14px;
    width: 301px;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}